@tailwind base;
@tailwind components;
@tailwind utilities;

/* Book */
@font-face {
    font-family: "Whyte";
    src: url("../assets/fonts/Whyte-Book.woff2") format("woff2"),
        url("../assets/fonts/Whyte-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: "Whyte";
    src: url("../assets/fonts/Whyte-Medium.woff2") format("woff2"),
        url("../assets/fonts/Whyte-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

.outlined-text-white {
    -webkit-text-stroke: 1px white;
}

@media (min-width: 1024px) {
    .outlined-text-pink {
        -webkit-text-stroke: 2px white;
    }
}

.outlined-text-pink {
    -webkit-text-stroke: 1px #c74993;
}

@media (min-width: 1024px) {
    .outlined-text-pink {
        -webkit-text-stroke: 2px #c74993;
    }
}

.btn-outline {
    @apply cursor-pointer flex items-center justify-center uppercase tracking-widest border-2 border-i4-pink text-i4-pink rounded-full px-10 pt-2 pb-1 hover:bg-i4-pink hover:text-white w-full sm:w-max;
}

.slick-dots {
    @apply flex flex-wrap items-center;
}

.slick-dots li button {
    @apply border border-white rounded-full mx-1 h-3 w-3 text-[0];
}

.slick-dots .slick-active button {
    @apply bg-white;
}

#changeText {
    opacity: 1;
    transition: opacity 0.5s;
}

.hide {
    opacity: 0 !important;
}

.panel.modal {
    /* ... (other styles) */
    position: absolute;
    top: 0; /* Adjust this based on your layout */
    right: 0; /* Adjust this based on your layout */
    display: none;
}
.panel.modal.active {
    display: block;
}

.mob-panel {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.2s ease-out, opacity 2s;
}

.mob-panel.active {
    opacity: 1;
}

.panel {
    transition: max-height 0.2s ease-out;
}

.menu-toggle.clicked {
    transform: rotate(45deg);
}

/* menu styling */
.overlay {
    position: fixed;
    width: 100%;
    z-index: 999999;
    left: 0;
    top: 95px;
    background-color: black;
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
}

.overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.overlay a {
    text-decoration: none;
    font-size: 36px;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #c74993;
}

@media screen and (max-width: 1023px) {
    .overlay {
        height: 100vh;
    }
}

.no-scroll {
    overflow: hidden;
}

.hover-container .hover-title:hover {
    transition: opacity 0.3s;
    opacity: 1;
}

.mobile-hover {
    transition: opacity 0.3s;
    opacity: 1;
}

.content {
    display: none;
    overflow: hidden;
}
